@mixin cover
  border-radius: 0 3px 3px 0
  background-color: #4d4d4d
  transform: translateZ(0)
  backface-visibility: hidden
  box-shadow: 0 2px 7px rgba(black, 0.3)
  position: relative
  top: 0
  transition: top 0.3s cubic-bezier(.25, .15, .20, 1), box-shadow 0.3s cubic-bezier(.25, .15, .20, 1)

  img
    width: 100%
    border-radius: 0 3px 3px 0
    display: block
    transform: translateZ(0)
    backface-visibility: hidden

  &:after
    content: ""
    +position(absolute, 0 0 0 0)
    border-radius: 0 3px 3px 0
    background: linear-gradient(113deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 49%, transparent 49%)
    transform: translateZ(0)
    backface-visibility: hidden
    z-index: 1

  &:before
    content: ""
    +position(absolute, 0 0 0 0)
    background: linear-gradient(to right, rgba(black, 0.4) 0%, rgba(white, 0.4) 2%, rgba(black, 0.2) 6%, transparent 100%)
    border-radius: 0 3px 3px 0
    backface-visibility: hidden
    z-index: 2

  &:hover
    top: -10px
    box-shadow: 0 10px 20px rgba(black, 0.2)
