.button
  +heading-font-family
  padding: 0.7em 1em
  text-decoration: none
  border: 1px solid $base-body-color
  display: inline-block
  vertical-align: middle
  white-space: nowrap
  font-family: inherit
  cursor: pointer
  line-height: inherit
  background-color: transparent
  color: $base-body-color
  -webkit-appearance: none
  border-radius: 3px
  box-sizing: border-box
  transition: box-shadow 0.1s $material-ease, transform 0.1s $material-ease, text-shadow 0.1s $material-ease
  font-size: 1.1em
  box-shadow: 0 0 0 rgba(black, 0.2)

  transition: background .5s $material-ease

  & + &
    margin-left: 15px


  .no-touch &:active
    box-shadow: 0 1px 3px rgba(black, 0.2)
    text-shadow: 0 1px 1px rgba(black, 0.2)

  i:first-child
    margin-right: 0.5em

  i:last-child
    margin-left: 0.5em

  i:first-child:last-child
    margin-left: 0
    margin-right: 0

.button--small
  @extend .button
  font-size: 0.9em

.button--large
  @extend .button
  font-size: 1.1em

.button--huge
  @extend .button
  font-size: 1.3em

.button--expand
  @extend .button
  text-align: center
  display: block
  width: 100%

.button--primary,
.button--notice,
.button--alert
  @extend .button
  color: white
  border: 0
  background-color: $green
  box-shadow: none

.button--primary
  color: $primary-color
  border-color: $primary-color

  &:hover
    background: lighten($green, 3%)

.button--notice
  color: $notice-color
  border-color: $notice-color

.button--alert
  color: $alert-color
  border-color: $alert-color

.button--rev
  @extend .button
  border-color: white
  color: white
