.bigbox
  position: relative
  border-bottom: 1px solid $border-color

.bigbox__body
  position: relative
  width: 100%
  +vertical-padding(5.25)
  z-index: 2

  +at-breakpoint(lap)
    +vertical-padding(16)

.bigbox__body__inner
  cursor: pointer
  text-decoration: none

.bigbox__content
  position: relative
  //+position(relative, null null 0px null)
  margin-right: 24px
  margin-left: 24px
  background-color: $white
  z-index: 3
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05)
  +horizontal-padding(5)

  +at-breakpoint(lap)
    +horizontal-padding(8)
    +position(absolute, 0 null 0 8%)
    width: 60%
    max-width: 350px
    margin-right: none
    margin-left: none

.bigbox__content__body
  +vertical-padding(4)

  +at-breakpoint(lap)
    position: relative
    top: 50%
    transform: translateY(-50%)
    text-align: center
    padding-top: unset
    padding-bottom: unset

.bigbox__title
  +heading-font-family
  +font-size(beta)
  position: relative
  margin-top: 0 !important

  &:after
    content: ""
    display: block
    height: 2px
    transition: transform 0.2s ease-out
    transform: scaleX(0)
    +position(absolute, null 0 -2px 0)
    background-color: $base-body-color

    .bigbox__body__inner:hover &
      transform: scaleX(1)

.bigbox__excerpt
  +margin-top(1.5)

.bigbox__subtitle
  color: $grey
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 0.1rem
