.book-infos

.book-infos__item
  +margin-bottom(2)

  i
    display: inline-block
    vertical-align: middle
    margin-right: 5px

  h6
    display: inline-block
    line-height: 2
    color: $light-body-color
    text-transform: uppercase

  &:nth-last-child(1)
    margin-bottom: 0

.book-infos__formats
  +margin-top(2)

.book-infos__format
  display: inline-block
  background-color: $yellow-color
  +vertical-padding(0.5)
  +horizontal-padding(1)
  text-decoration: none
  border-radius: 5px
  +margin-top(1)

  &:hover
    cursor: pointer
    opacity: 0.8

.book-infos--important
  @extend .book-infos
  +vertical-padding(2)
  padding-left: $grid-gutter
  padding-right: $grid-gutter
  margin-left: -$grid-gutter
  margin-right: -$grid-gutter
  background-color: $light-bg-color

  .book-infos__item h6
    font-weight: bold

+at-breakpoint(lap)
  .book-infos
    +clearfix

  .book-infos__item
    width: 100%
    box-sizing: border-box
    padding-right: 2 * $grid-gutter

    &:nth-last-child(2)
      margin-bottom: 0

    &:nth-child(2n+1)
      clear: left

+at-breakpoint(desk)
  .book-infos--important
    margin-left: -2 * $grid-gutter
    margin-right: -2 * $grid-gutter
    padding-left: 2 * $grid-gutter
    padding-right: 2 * $grid-gutter
