.book
  +margin-bottom(5)

.book__title
  +heading-font-family
  +font-size(delta)
  line-height: 1.2
  +margin-bottom(1)

  +at-breakpoint(lap)
    +font-size(beta)

.book__authors
  color: $light-body-color

  +at-breakpoint(lap)
    +font-size(gamma)

.book__author
  a
    color: $light-body-color

.book__price__label
  font-size: smallprint
  text-transform: uppercase
  line-height: 2
  color: $light-body-color
  display: block

.book__price__label--discount
  @extend .book__price__label
  color: $red

.book__format
  +margin-top(1)
  +margin-bottom(2)
  text-transform: uppercase

.book__price
  display: block

.book__price__base
  display: inline-block
  margin-right: 0.5em
  color: $light-body-color
  position: relative
  +font-size(beta)

  &:before
    content: ""
    height: 2px
    background-color: lighten($light-body-color, 20%)
    transform: rotate(-4deg)
    +position(absolute, 50% -5px null -5px)

.book__price__current
  display: inline-block
  +font-size(alpha)

.book__cta
  +margin-top(2)

.book__cta__price
  +margin-bottom(1)

.book__cta__button
  text-align: left
  +margin-top(0.5)

  a
    color: white

+at-breakpoint(lap)
  .book__cta__price,
  .book__cta__button
    display: inline-block
    vertical-align: middle
    width: 50%
    margin-bottom: 0

  .book__cta__button
    text-align: right

.book__description
  +vertical-padding(2)
  display: none

  +at-breakpoint(lap)
    display: block
