.box
  text-align: center
  +margin-bottom(5)

  a
    text-decoration: none

.box__image
  position: relative
  +vertical-padding(9)

.box__content

.box__title
  +padding-top(1)
  +heading-font-family
  +font-size(gamma)
  position: relative
  line-height: 1.2
  +margin-bottom(0.5)
  display: inline-block

  &:after
    content: ""
    display: block
    height: 2px
    transition: transform 0.2s ease-out
    transform: scaleX(0)
    +position(absolute, null 0 -2px 0)
    background-color: $base-body-color

    .box:hover &
      transform: scaleX(1)

.box__excerpt
  +margin-top(1.5)
  @extend .formatted-content

.box__date
  +margin-top(0.5)
  text-transform: uppercase
  +font-size(smallprint)
  color: $light-body-color

.box__bookshop
  +margin-top(1)
  text-transform: uppercase
  +font-size(smallprint)
  color: $light-body-color

.box__location
  text-transform: uppercase
  +font-size(smallprint)
  color: $light-body-color
