.corner

.corner__image
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-bg-color
  background-size: cover
  position: relative
  +vertical-padding(10)

.corner__inner
  +margin-bottom(5)

.corner__title
  +heading-font-family
  +margin-bottom(2)
  line-height: 1.2
  +font-size(gamma)

.corner__address
  color: $light-body-color
  +font-size(smallprint)
  @extend .formatted-content

.corner__description
  +margin-top(2)
  @extend .formatted-content
