.cover
  position: relative
  @include cover

.cover__ribbon
  +position(absolute, -5px -5px null null)
  z-index: 100
  overflow: hidden
  width: 82px
  height: 95px

  span
    text-transform: uppercase
    text-align: center
    line-height: 20px
    transform: rotate(45deg)
    width: 103px
    display: block
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1)
    +position(absolute, 20px -21px 55px 0)
    background: $green
    color: white
    +font-size(smallprint)

    &::before
      content: ""
      +position(absolute, 100% null null 0px)
      z-index: 99
      border-left: 3px solid #79A70A
      border-right: 3px solid transparent
      border-bottom: 3px solid transparent
      border-top: 3px solid #79A70A

    &::after
      content: ""
      +position(absolute, 100% 0px null null)
      z-index: 99
      border-left: 3px solid transparent
      border-right: 3px solid #79A70A
      border-bottom: 3px solid transparent
      border-top: 3px solid #79A70A
