.footer
  +margin-top(5)
  background-color: white

.footer__cards i
  margin-left: 5px

.footer__language
  +margin-bottom(1)

  i
    display: inline-block
    vertical-align: middle
    margin-right: 9px

  a:hover
    text-decoration: underline

.footer__line-1
  border-bottom: 1px solid $border-color
  +vertical-padding(2)
  text-align: center

.footer__line-2
  +font-size(smallprint)

+at-breakpoint(eq-palm)
  .footer__item
    border-top: 1px solid $border-color
    +vertical-padding(2)

  .footer__item--top
    display: none

+at-breakpoint(lap)
  .footer
    border-top: 1px solid $border-color

  .footer__line-2
    display: flex
    flex-direction: row
    align-items: stretch

  .footer__item
    flex: 1
    display: block
    +padding(2)
    border-right: 1px solid $border-color

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0
      border-right-width: 0
      text-align: right

  .footer__item--top
    flex: none
    text-align: center
    width: 60px
    font-size: 40px
    line-height: 40px
    position: relative
    color: $green

    i
      +center

.footer__social
  vertical-align: middle
