.imagehero
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-bg-color
  background-size: cover
  position: relative
  +margin-bottom(5)

.imagehero__image

.imagehero__overlay
  z-index: 2
  +position(absolute, 0 0 0 0)
  background-color: rgba(0, 0, 0, 0.3)

.imagehero__body
  display: table
  width: 100%
  text-align: center
  color: $white

.imagehero__body__inner
  display: table-cell
  vertical-align: middle
  +vertical-padding(8)
  z-index: 3
  position: relative

  &:before
    content: ""
    +position(absolute, null 0 0 0)
    height: 20px
    background-image: linear-gradient(to bottom, transparent 0%, rgba(black, 0.2) 100%)

.imagehero__heading
  +heading-font-family
  +font-size(alpha)
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 800px

.imagehero__librarian
