.menumobile
  +position(absolute, 60px 11px null null)
  background-color: white
  +padding-bottom(0.5)
  +padding-top(2)
  z-index: 3
  +horizontal-padding(2.5)
  text-transform: uppercase
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5)
  display: none

  &:before
    content: ""
    +triangle(16px, white, up)
    +position(absolute, -8px 5% null null)
    margin-left: -8px

  &.is-open
    display: block

    +at-breakpoint(lap)
      display: none

  .menu__item, .menu__item--black
    text-decoration: none
    +padding-bottom(1.5)
