.menu
  position: relative

.menu__body
  background-color: $red
  color: $white
  +vertical-padding(1.5)
  +horizontal-padding(1)

.menu__body__inner, .menu__body__inner--white
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  justify-content: space-between
  align-items: center
  align-content: center

  +at-breakpoint(lap)
    justify-content: flex-start

.menu__body__inner--white
  //box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05)
  border-bottom: 1px solid $border-color
  +vertical-padding(1.5)
  +horizontal-padding(1)
  display: none
  background-color: $white

  +at-breakpoint(lap)
    display: flex

.menu__logo
  width: 50%
  max-width: 300px

  +at-breakpoint(lap)
    width: 25%

.menu__hamburger
  +font-size(alpha)

  &:after
    @extend .icon--hamburger:before
    vertical-align: middle

  +at-breakpoint(lap)
    display: none

.menu__items
  display: none

  +at-breakpoint(lap)
    display: unset

.menu__item
  display: block

  +at-breakpoint(lap)
    display: initial
    +padding-left(2)
    text-decoration: none
    text-transform: uppercase

    +at-breakpoint(lap)
      color: white

.menu__item--black
  display: block

  &:after
    @extend .icon--arrow-right:before
    vertical-align: middle
    margin-left: 0.1em
    display: none

    +at-breakpoint(lap)
      display: unset

  +at-breakpoint(lap)
    display: initial
    +padding-right(2)
    text-decoration: none

.menu__books
  +position(absolute, null 0 0 null)
  width: 100%
  max-width: 140px
  display: none

  +at-breakpoint(desk)
    display: block
