.page-description
  background-color: white
  border-bottom: 1px solid $border-color
  display: block
  position: relative
  +margin-bottom(5)

.page-description--no-margin
  @extend .page-description
  +margin-bottom(0)

.page-description__inner
  @extend .wrap
  +padding-top(4)
  +padding-bottom(3)
  text-align: center

.page-description__title
  +font-size(beta)
  +margin-bottom(2)
  line-height: 1.2

  h1
    font-size: inherit
    margin: inherit
