.sectiontitle
  +margin-top(7.5)
  +heading-font-family
  +font-size(beta)
  display: block
  +margin-bottom(1.5)
  text-decoration: none

  h2

    &:after
      @extend .icon--arrow-right:before
      vertical-align: middle
      margin-left: 0.1em

.sectiontitle--no-margin
  @extend .sectiontitle
  +margin-top(2.5)
