.slick-list
  transition: height .5s $material-ease

  +at-breakpoint(lap)
    //width: 100% !important
    margin-left: auto !important
    margin-right: auto !important

//.slick-track, .slick-slide
  //width: 100% !important

.slick-prev, .slick-next
  z-index: 10 !important
  color: $white !important
  display: none !important

  +at-breakpoint(lap)
    height: 50px !important
    width: 50px !important
    display: block !important

  &:before
    //+font-size(alpha)
    font-size: 3.5rem
    transition: color .5s $material-ease !important
    color: $white !important

  &:hover
    &:before
    color: $white !important

.slick-prev
  left: +10px !important

  &:before
    @extend .icon--arrow-left

.slick-next
  right: +10px !important

  &:before
    @extend .icon--arrow-right
