.small-author

.small-author__name
  +heading-font-family
  +font-size(beta)
  line-height: 1.2
  +margin-bottom(1)
  +margin-top(2.5)

  +at-breakpoint(lap)
    +font-size(beta)
    +margin-top(0)

.small-author__photo
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-bg-color
  background-size: cover
  position: relative
  width: 100%
  padding-bottom: 100%
  border-radius: 50%
  position: relative

.small-author__biography
  @extend .formatted-content
